<div *ngIf="recipe$ | async as recipe">
    <div class="receipe">
        <div class="header">
            <h1>{{recipe.title}}</h1>
            <button routerLink="/" class="btn">Назад</button>
        </div>

        <div class="info">
            <p><span>Коротенький опис :</span>{{recipe.description}}</p>
            <small>Вегетеріанський : {{recipe.is_vegeterian}}</small>
        </div>

        <div class="big__info">
            <p><span>Склад : </span> {{recipe.ingridients}}</p>
            <p><span>Опис : </span>{{recipe.how_to_cook}}</p>
        </div>

        <div class="recipe__link">
            <div class="recipe__img">
                <img src="{{recipe.img_link}}" alt="recipe img">
            </div>

            <div class="card__video">
                <iframe [src]="cleanURL(recipe.video_link)" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
