<div *ngIf="recipe$ | async as recipe">
    <div class="receipe">
        <div class="header">
            <h1>{{recipe.title}}</h1>

            <button routerLink="/" class="btn">Назад</button>

        </div>

        <div class="info">
            <h1>///</h1>
            <h1>{{recipe.title}}</h1>
            <p>{{recipe.id}}</p>
            <strong>{{recipe.howToCook}}</strong>
            <small></small>
        </div>

        <div>
            <p>{{recipe.description}}</p>
            <p>{{recipe.ingridients}}</p>
            <p>{{recipe.title}}</p>
        </div>
    </div>
</div>
