.form{
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  color: #fef190;
  box-shadow: 0 4px 8px 0 rgba(99, 98, 98, 0.2), 0 6px 20px 0 rgba(9, 9, 9, 0.19);
  background-color: #526f12;
  margin: 0 auto;

  .form-control{
    //margin: 100px;
    display: flex;
    flex-direction: column;
  }
  h1{
    text-align: center;
    font-size: 25px;
    padding: 15px;
  }

}
input[type=text], input[type=email], input[type=password]{
  padding: 10px;
  margin: 10px 5px;
  display: flex;
  width: 100%;
  background-color: #a4d4ef;

  border: none;
}
label{
  padding: 5px;
}
button{
  width: 90%;
  align-self: center;
  background-color: #cf3401;
  border: none;
  margin: 15px;
  padding: 5px;
  color: #a4d4ef;
  color: #a4d4ef;
}
