<!--<form>-->
<!--    <div class="card" *ngFor="let recipe of recipes">-->
<!--        <h2>Назва : {{recipe.title}}</h2>-->
<!--            <div class="form-group" [formGroup]="form">-->
<!--                <input type="text" placeholder="нова назва..." [(ngModel)]="title">-->
<!--                <p>Опис : </p>-->
<!--                <input type="text" [(ngModel)]="description" placeholder="новий опис...">-->
<!--                <p>як готувати : </p>-->
<!--                <input type="text" placeholder="новий спосіб приготування..." [(ngModel)]="howToCook">-->
<!--                <input type="text" placeholder="новий спосіб рецепт..." [(ngModel)]="ingridients">-->

<!--                <button class="btn" (click)="completeRecipe(recipe.id)">Завершити</button>-->
<!--            </div>-->
<!--    </div>-->


<!--</form>-->


<button [routerLink]="['/dashboard']" class="btn">Назад</button>
