.send__recipe{
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #f5efef;
  max-width: 600px;
  color: #000000;
  box-shadow: 0 4px 8px 0 rgba(99, 98, 98, 0.2), 0 6px 20px 0 rgba(9, 9, 9, 0.19);

  h1{
    font-size: 1.5rem;
    margin: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 0px 0px 0px;
    text-align: center;
  }
}

input[type=text]{
  padding: 10px;
  margin: 10px 5px;
  border-radius: 15px;
  display: flex;
  width: 100%;
  background-color: #ffffff;

  border: none;
}
input[type=submit]{
  width: 90%;
  align-self: center;
  background-color: #0ea1a1;
  border: none;
  margin: 15px;
  padding: 5px;

  color: #ffffff;
}
label{
  padding: 5px;
}
small{
  color: #000000;
  padding-left: 5px;
}
