<div class="header">

    <div class="container">

        <nav class="header__row">
          <ul>
            <li [routerLink]="['/']" >Кулінарна книга</li>
            <li>
                <a [routerLink]="['/', 'login']" routerLinkActive="active">Вхід</a>
            </li>
              <li>
                  <a [routerLink]="['/', 'registration']" routerLinkActive="active">Зареєструватись</a>
              </li>
              <li>
                  <a [routerLink]="['/', 'about']" routerLinkActive="active"> Про нас</a>
              </li>
          </ul>
        </nav>

    </div>

</div>

<div class="content">
    <router-outlet></router-outlet>
</div>
