.header {
  height: 8vh;
  background: #cf3401;
  width: 100%;
  display: flex;
  align-items: center;


  .container {
    max-width: 1260px;
    margin: 0px auto;

  }

  .header__row {
    margin: 0 auto;
    max-width: 1200px;
    color: #fef190;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;

  }
}
.content{
  width: 100%;
  min-height: 92vh;
  background: #fef190 url("../../../../assets/img/rain2.png");
}
