.header {
  height: 8vh;
  background: #000000;
  width: 100%;
  display: flex;
  align-items: center;

  .container {
    max-width: 1260px;
    margin: 0px auto;

  }

  .header__row {
    margin: 0 auto;
    max-width: 1000px;
    color: #54af2a;
    display: flex;
    align-items: center;
    justify-content: space-between;


  }
}
