<div class="receipe">
    <div class="header">
        <h1>Receipe title</h1>

        <button routerLink="/" class="btn">home-page</button>

    </div>

    <div class="info">
        <strong>author</strong>
        <small>27.05.2021</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, voluptatum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, voluptatum.</p>
    </div>
</div>
