  <div class="cards">

      <div class="card__search">
          <input type="text" placeholder="Знайти рецепт..." [(ngModel)]="searchStr">
      </div>

    <div class="card" *ngFor="let recipe of recipes | searchPosts:searchStr">
        <div class="card__row">
            <div class="card-header">
                <h2>{{recipe.title}}</h2>
                <p>{{recipe.description}}</p>


            </div>

            <button
                    [routerLink]="['/recipe/', recipe.id]"
                    class="btn"
            >Відкрити
            </button>
        </div>

        <div class="card__img">
            <img src="{{recipe.img_link}}" alt="recipe img">
        </div>



    </div>
  </div>
